/* -----------------------------------------------------------------------------
   Estilos generales
   ----------------------------------------------------------------------------- */
   body {
    margin: 0 auto; /* Centra el contenido horizontalmente */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
    background-color: #6c3513

    ; /* Color de fondo de la página */
}

/* -----------------------------------------------------------------------------
   Encabezado (Header)
   ----------------------------------------------------------------------------- */
.encabezado {
    background-color: #372100; /* Color de fondo del encabezado */
    padding: 0%; /* Sin relleno */
}

/* Barra de navegación */
.encabezado .barra-navegacion {
    display: flex; /* Usa flexbox para la disposición */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    padding: 0.5%; /* Relleno interno */
    margin-right: 2%;
}

.encabezado .logo {
    max-width: 150px; /* Ancho máximo del logo */
    max-height: 150px; /* Alto máximo del logo */
}

.encabezado .enlaces-navegacion {
    margin-left: auto; /* Alinea los enlaces a la derecha */
}

.encabezado .enlace-navegacion {
    padding: 8px; /* Relleno interno de los enlaces */
    color: whitesmoke; /* Color del texto de los enlaces */
}

/* Contenedor principal del encabezado */
.encabezado .contenedor-principal {
    display: flex; /* Usa flexbox para la disposición */
    justify-content: space-between; /* Espacio entre los elementos */
    padding: 0%; /* Sin relleno */
}

.encabezado .contenedor-izquierdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    width: 60%;
}

.encabezado .imagen-derecha {
    width: 60%;
    height: auto;
    border-top-left-radius: 4%;
}

.encabezado .titulo {
    font-size: 2em; /* Tamaño del título */
    margin-bottom: 2%; /* Margen inferior */
    color: #d7b372; /* Color del título */
}

.encabezado .descripcion {
    font-size: 1em; /* Tamaño del texto */
    margin-bottom: 8%; /* Margen inferior */
    color: white;
}

/* Enlaces dentro del contenedor izquierdo */
.encabezado .enlaces-contenido {
    margin-bottom: 40px; /* Margen inferior */
}

.encabezado .enlace-boton {
    margin-bottom: 20px; /* Margen inferior */
}

.encabezado .boton-primario {
    background-color: #d7b372; /* Color de fondo del botón primario */
    border-radius: 20px; /* Bordes redondeados */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Relleno interno */
    margin-right: 10px; /* Margen derecho */
    text-decoration: none; /* Sin decoración de texto */
}

.encabezado .boton-secundario {
    background-color: white; /* Color de fondo del botón secundario */
    border-radius: 20px; /* Bordes redondeados */
    color: #4b5c54; /* Color del texto */
    padding: 10px 20px; /* Relleno interno */
    text-decoration: none; /* Sin decoración de texto */
}

/* Carrusel de imágenes */
.encabezado .carrusel {
    display: flex; /* Usa flexbox para la disposición */
    flex-direction: column; /* Dirección de la columna */
    width: 100%; /* Ancho del carrusel */
    height: auto;
    border-radius: 20px; /* Bordes redondeados */
    margin-top: 20px; /* Margen superior */
    position: relative; /* Posición relativa para los botones */
}

.encabezado .imagen-carrusel {
    width: 100%; /* Ancho máximo de la imagen */
    height: auto;
}

/* Botones de navegación del carrusel */
.encabezado .botones-carrusel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px; /* Espacio entre la imagen y los botones */
}

.encabezado .boton-anterior,
.encabezado .boton-siguiente {
    border-radius: 50%; /* Bordes redondeados */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px; /* Relleno interno */
}

.encabezado .boton-anterior {
    margin-right: auto; /* Alinea el botón anterior a la izquierda */
}

.encabezado .boton-siguiente {
    margin-left: auto; /* Alinea el botón siguiente a la derecha */
}

/* Contenedor derecho del encabezado */
.encabezado .imagen-derecha {
    max-height: 100%; /* Alto máximo de la imagen */
    max-width: 100%; /* Ancho máximo de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}


/* -----------------------------------------------------------------------------
   Sección 2 (Section)
   ----------------------------------------------------------------------------- */
.seccion-secundaria {
    padding: 2%; /* Relleno interno */
    background-color: rgb(225, 225, 225); /* Color de fondo blanco */
}

.seccion-secundaria .titulo-seccion {
    color: #372100; /* Color del título */
    text-align: center; /* Alinea el texto al centro */
    font-size: xx-large;
}

.seccion-secundaria .texto-seccion {
    text-align: center; /* Alinea el texto al centro */
    margin-bottom: 30px; /* Margen inferior */
}

.seccion-secundaria .galeria-imagenes {
    display: flex; /* Usa flexbox para la disposición */
    flex-direction: column; /* Dirección de la columna */
}

.seccion-secundaria .fila-imagenes {
    display: flex; /* Usa flexbox para la disposición */
    justify-content: space-between; /* Espacio entre las imágenes */
    margin-bottom: 2%; /* Margen inferior */
}

.seccion-secundaria .imagen-grande {
    width: 68%; /* Ancho de la imagen grande en porcentaje */
    height: auto; /* Alto automático para mantener la proporción */
    border-radius: 20PX;
}

.seccion-secundaria .imagen-pequena {
    width: 30%; /* Ancho de la imagen pequeña en porcentaje */
    height: auto; /* Alto automático para mantener la proporción */
    border-radius: 20PX;
}

/* -----------------------------------------------------------------------------
   Sección 3 (Section)
   ----------------------------------------------------------------------------- */
.seccion-terciaria {
    padding: 5%; /* Relleno interno */
    background-color: #c0a363 ;
    display: flex; /* Usa flexbox para la disposición */
}

.seccion-terciaria .caja {
    width: 30%;
    margin: 1%; /* Espacio entre las cajas */
    text-align: center; /* Centra el texto */
}

.seccion-terciaria .caja .imagen-caja {
    width: 25%; /* Ajusta el ancho de la imagen al contenedor */
}

.seccion-terciaria .caja .titulo-caja {
    margin-top: 10px; /* Espacio superior para el título */
    font-size: 1.5em; /* Tamaño de fuente */
    color: #000000; /* Color del texto */
}

.seccion-terciaria .caja .texto-caja {
    margin-top: 10px; /* Espacio superior para el párrafo */
    font-size: 1em; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
}

.seccion-terciaria .caja .enlace-caja {
    color: #a99166;
}



/* -----------------------------------------------------------------------------
   Sección 5 (Section)
   ----------------------------------------------------------------------------- */
.seccion-quinta {
    padding: 5%; /* Relleno interno */
    background-color:  #452a01;
    display: flex; /* Usa flexbox para la disposición */
}

.seccion-quinta .contenedor {
    width: 30%;
}

.seccion-quinta .texto-contenedor {
    padding: 8%;
    width: 70%;
}

.seccion-quinta .titulo-seccion {
    color: #745f3d;
    font-size: 1.5em; /* Tamaño de fuente */
}

.seccion-quinta .texto-seccion {
    color: #717a80;
}

/* -----------------------------------------------------------------------------
   Sección 7 (Section)
   ----------------------------------------------------------------------------- */
.seccion-septima {
    background-color: whitesmoke;
    padding: 1%;
    text-align: center;
    color: #485d56;
    font-size: 1.5em; /* Tamaño de fuente */
}

.seccion-septima .titulo-seccion {
    color: #485d56;
    font-size: 1.5em; /* Tamaño de fuente */
}

.seccion-septima .caja {
    object-fit: cover;
    display: flex; /* Usa flexbox para la disposición */
    flex-direction: row; /* Dirección de la fila */
    align-content: center;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

.seccion-septima .imagen-caja {
    width: 16%;
    height: auto;
    border-radius: 20px; /* Bordes redondeados */
    margin: 2%;
}


/* -----------------------------------------------------------------------------
   Pie de página (Footer)
   ----------------------------------------------------------------------------- */
.pie-de-pagina {
    background-color:#250f00; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 5%;
}

.pie-de-pagina .contenedor-principal {
    display: flex; /* Usa flexbox para la disposición */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
}

.pie-de-pagina .contenido-izquierdo {
    flex: 1; /* Ocupa el espacio disponible */
}

.titulo-pie {
    font-size: 2em; /* Tamaño del título */
    margin-bottom: 10px; /* Margen inferior */
}

.texto-pie {
    margin: 5px 0; /* Margen superior e inferior */
}

.iconos-redes {
    display: flex; /* Usa flexbox para la disposición */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    margin-top: 20px; /* Margen superior */
}

.iconos-redes p {
    margin-right: 10px; /* Margen derecho */
}

.enlace-red {
    margin-right: 10px; /* Margen derecho */
}

.iconos-redes img {
    width: 24px; /* Ancho de los iconos */
    height: 24px; /* Alto de los iconos */
}

.contenido-derecho {
    flex: 1; /* Ocupa el espacio disponible */
}

.formulario-contacto {
    display: flex; /* Usa flexbox para la disposición */
    flex-direction: column; /* Dirección de la columna */
}

.entrada-formulario,
.area-texto-formulario {
    margin-bottom: 10px; /* Margen inferior */
    padding: 10px; /* Relleno interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 20px; /* Bordes redondeados */
    background-color: white; /* Color de fondo */
    color: black; /* Color del texto */
    width: 60%;
    align-self: self-end;
}

.area-texto-formulario {
    height: 100px; /* Alto del área de texto */
    padding: 2%;
}

.boton-formulario {
    align-self: self-end;
    width: 20%;
    padding: 2%; /* Relleno interno */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #c0a363; /* Color de fondo */
    color: white; /* Color del texto */
}

.boton-formulario:hover {
    background-color: #a89259; /* Color de fondo al pasar el ratón */
}

.contenedor-inferior {
    text-align: center;
    padding: 2%;
}

.contenedor-inferior .enlace-navegacion {
    color: white;
    padding: 1%;
}
