*{

    box-sizing: border-box;
    font-size: 'Balsamic Sans';


}

.bodypedro{
    background-image: url(imagenes/fondoCafe.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.header_pedro{
    text-align: center;
    background-color: #bb640d;
    color: black;
    border-radius: 10px;
    padding: 5px 0;
    background-size: cover;
}


.container_pedro{
    max-width: 700px;
    margin:auto;
    padding: 20px;
}

.section_pedro{
    border:2px solid #bb640d;
    border-radius: 10px;
    padding: 10px;
    margin:10px 0;
    margin-bottom: 20px;
}

.label_pedro{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed black;
    margin-top: 3px;
}

.label_pedro:hover{
    background: orange;
}


.btn_pedro{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;

    background-color: #bb640d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.btn_pedro:hover{
    background: orange;
    color:black;
}

#resultadopedro{
    font-size: 90px;
    color: darkred;
}

#imagenpedro{
    align-items: center;
}

#textpedro{
    size: 50px;
    color: black;
}

.volver_index_pedro{
    color: black;
    margin-top: 40px;
    text-decoration: none;
    padding: 10px;
    background-color: orange;
    border-radius: 10px;
}

@media (max-width:468) {
    .container{
        min-height: 100vh;
        max-width: 100%;
        border-radius: 0;
    }    
}