body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
}
.muchasGracias{
    font-size: 60px;
}
.formularioEnviado{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
    line-height: 0.8;
}
.volver{
    margin-top: 60px;
    background-color: rgb(146, 110, 64);
    padding: 40px;
}
.volverTexto{
    color: black;
    text-decoration: none;
}