body{
    font-family: Arial, Helvetica, sans-serif;
}
.form{
margin-left: 10px;    
margin-top: 40px;
}
.espacioDeTexto{

}
.porQue{
    box-sizing: border-box;
    width: 500px;
    height: 300px;
}
.divFormulario{
    display: flex;
    align-items: center;
}
.envio{
    background-color: black;
    color:white;
    text-decoration: none;
    padding: 20px;
    display: flex;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
}
.textoEnviar{
    display: flex;
    align-items: center;
}